:root {
  --main-peach: #ffc8c4;
  --white: #ffffff;
  --bgColor: #0e1217;
}
.App {
  text-align: center;
}
nav {
  background-color: var(--bgColor);
  box-shadow: 0 8px 6px -6px #3f3e3e7e;
  padding: 0.3rem 3.1rem;
  color: var(--white);
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  list-style: none;
  margin-right: 100px;
}
nav ul li {
  margin: 0 15px;
}
.navlink {
  color: var();
}

@media (max-width: 600px) {
  nav {
    padding: 0.5rem 1rem;
  }
  nav ul {
    margin-right: 20px;
  }
}
